extends ../auth.layout.pug

block content
  .hero
    +login("login__button")
    .user
      .user__container
        img(src="./assets/images/user/avatar.png", alt="" class="user__avatar")
        +userInfo
        .user__socials
          +socials('user__icon', 'user__socials-list')
        .user__footer
          .footer
            ul.footer__list
              li.footer__item
                a(href="/my-works.html" class="footer__link") Мои работы
              li.footer__item
                a(href="" class="footer__link") Обо мне
              li.footer__item
                a(href="" class="footer__link") Блог
    .page-footer
      span.page-footer__title © Борис Дрябин | создано с любовью в LoftSchool | 2018
