.footer{
    width: 100%;
    margin-top: 46px;
}

.footer__list{
    display: flex;
    width:100%;
}

.footer__item{
    border-right: 2px solid #7296d3;
    background: #0548bd;
    width: 34%;    
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover{
        background: #083c96;
    }

    &:last-child{
        border-right:none;
    }
}

.footer__link{
    text-decoration:none;
    color: #fff;
    font-size:16px;
    font-weight:500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 100%;
}