.hero{
    background: url("./assets/images/main/background.png") center center /cover no-repeat;
    width: 100%;
    height: 100vh;
}

.hero__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./assets/images/avatar/stars.png") center center/ contain no-repeat;
}

